/.idea/
/abandoned/
/build/mini_deps/
/build/python/
/build/venv
/dist/
/deps/core/*
/deps/extra/*
/lib/
/nuitka-crash-report.xml
/profile_*
/requirements_extra.txt
/run_local_server.build/
/run_local_server.dist/
/run_local_server.onefine-build/
/run_local_server.exe
/test/_downloaded.txt
__pycache__/
!**/.gitkeep
