[tool.poetry]
name = "airmise"
version = "0.2.0a1"
description = "The native experience of calling remote functions, like local ones."
authors = ["likianta <likianta@foxmail.com>"]
# readme = "README.md"
packages = [{ include = "airmise" }]

[tool.poetry.dependencies]
python = "^3.8"
aiohttp = "^3.10.6"
argsense = "^0.5.8"
# argsense = { version = "^0.5.9a0", source = "likianta-host" }
lk-logger = "^6.0.2"
# lk-logger = { version = "^6.0.2", source = "likianta-host" }
lk-utils = "^3.1.1"
# lk-utils = { version = "^3.1.0", source = "likianta-host" }
# robyn = "^0.61.1"
# sanic = "^24.6.0"
websocket-client = "^1.8.0"
# websockets = "^12.0"

[tool.poetry.group.dev.dependencies]
# auto-py-to-exe = { version = "^2.44.1", python = ">=3.12,<3.13" }
# depsland = { version = "^0.8.1a0", source = "likianta-host" }
ipython = { version = "^8.26.0", python = "^3.10" }
# nuitka = { version = "*", python = ">=3.12,<3.13" }
# numpy = [  # <- streamlit
#     { version = ">=2.0.0", python = ">=3.9" },
#     { version = ">=1.23,<1.24", python = "<3.9" }
# ]
# pandas = [  # <- streamlit
#     { version = ">=2.2.2", python = ">=3.9" },
#     { version = ">=1.5,<2.0", python = "<3.9" }
# ]
pinkrain = { version = "^0.0.0a17", source = "likianta-host" }
# pyinstaller = { version = "*", python = ">=3.12,<3.13" }
streamlit = { version = "^1.40.0", python = "!=3.9.7" }

# --- extras
# hidapi = "*"
# modbus-tk = "*"
omni-driver-kit = { version = "^3.1.0b1", source = "likianta-host" }
# pyserial = "*"

[[tool.poetry.source]]
name = "tsinghua"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
priority = "primary"

[[tool.poetry.source]]
name = "likianta-host"
url = "http://likianta.pro:2131/"
priority = "supplemental"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
