[tool.poetry]
name = "aircontrol"
version = "0.1.0a3"
description = ""
authors = ["likianta <likianta@foxmail.com>"]
# readme = "README.md"
packages = [{ include = "aircontrol" }]

[tool.poetry.dependencies]
python = "^3.8"
argsense = "^0.5.8"
lk-logger = { version = "^6.0.0a2", source = "likianta-host" }
lk-utils = { version = "^2.10.8", source = "likianta-host" }
robyn = "^0.58.2"
sanic = "^24.6.0"
websockets = "^12.0"

[tool.poetry.group.dev.dependencies]
ipython = { version = "^8.26.0", python = "^3.10" }

[[tool.poetry.source]]
name = "tsinghua"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
priority = "primary"

[[tool.poetry.source]]
name = "likianta-host"
url = "http://likianta.pro:2006/"
priority = "supplemental"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
