[project]
name = "airmise"
version = "0.3.0a9"
description = "The native experience of calling remote functions, like local ones."
authors = [{ name = "Likianta", email = "likianta@foxmail.com" }]
dynamic = ["dependencies"]
# readme = "README.md"
requires-python = ">=3.8"
packages = [{ include = "airmise" }]

[tool.poetry.dependencies]
python = "^3.8"
aiohttp = [
    { version = "^3.10.6", python = ">=3.8,<3.9" },
    # { version = "^3.11.11", python = ">=3.9,<4.0" },
    { version = ">=3.10", python = ">=3.9,<4.0" },
]
# argsense = ">=0.7.0"
argsense = { version = "^0.7.1", source = "likianta" }
lk-logger = { version = "^6.0.5", source = "likianta" }
lk-utils = { version = "^3.2.0a4", source = "likianta" }
# robyn = "^0.61.1"
# sanic = "^24.6.0"
websocket-client = "^1.8.0"
# websockets = "^12.0"

[tool.poetry.group.dev.dependencies]
fastapi = "^0.115.12"
ipython = { version = "^9.0.0", python = "^3.12" }
# line-profiler = "^4.1.3"
# nuitka = { version = "^2.6.8", python = ">=3.12,<3.13" }
pinkrain = { version = "^0.0.0a28", source = "likianta", python = "^3.12" }
# pyinstaller = { version = "^6.12.0", python = ">=3.12,<3.13" }
streamlit = { version = "^1.43.0", python = "^3.12" }
uvicorn = [
    { version = "^0.34.0", extras = ["standard"], python = "^3.9" },
    { version = "<0.34.0", extras = ["standard"], python = "<3.9" },
]

# --- extras
omni-driver-kit = { version = "^3.2.0a6", source = "likianta", python = "^3.12" }

[[tool.poetry.source]]
name = "tsinghua"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
priority = "primary"

[[tool.poetry.source]]
name = "likianta"
url = "http://47.102.108.149:2131/"
priority = "supplemental"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

# ---

[tool.ruff]
line-length = 80
